<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

    <link rel="stylesheet" href="dist/css/create.css">
    <title>Create New Campaign</title>
</head>

<body>
    <!---  <form action="/api/create" method="post" enctype="multipart/form-data">
        <label>File upload</label>
        <br/><br/><br/><br/>
        <input type="file" name="disasterImgs" multiple/>
        <label>Email</label>
        <input type="email" name="email" />
        <input type="submit" />
    </form>-->
    <div id="root"></div>
    <script type="text/javascript" src="public/create.bundle.js"></script>

</body>

</html>